.form-control {
    color: #8392a5;
}

a.btn-modal:not([href]) {
    color: #8392a5;
}

a.btn-modal:not([href]):hover {
    color: #1b2e4b;
    cursor: pointer;
}

a.nav-link:hover,
a.icon-link {
    cursor: pointer;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.table-card tr.empty-row td {
    border-bottom: None;
}


.custom-control-label {
    cursor: pointer;
}

.btn[disabled],
input[type=radio][disabled],
label.disabled {
    cursor: not-allowed;
}

.feather {
    z-index: 99999;
}

.bg-highlight {
    background-color: #FFFF99;
    transition: 0.4s;
}


.page-profile {
    min-height: 92vh;
    position: relative;
    margin: 0;
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
}

.action .nav {
    flex-wrap: nowrap;
}

.wd-110 {
    width: 110px;
}

.table tr.empty-row,
.table tr.empty-row {
    background-color: #ffffff;
}

.table tr.empty-row td,
.table tr.empty-row td {
    color: lightgray;
    text-transform: uppercase;
}
