{% load humanize %}

<div class="modal-dialog wd-sm-650" role="document">
  <div class="modal-content">
    <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
      <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <div class="media align-items-center">
        <div class="media-body">
          <h4 class="tx-18 tx-sm-20 mg-b-2">B/L Summary</h4>
          <p class="tx-13 tx-color-03 mg-b-0">Summary of the bill of loading for this delivery order.</p>
        </div>
      </div><!-- media -->
    </div><!-- modal-header -->

    <div class="modal-body pd-sm-x-30">
      <ul class="list-group list-group-flush mg-b-20 mg-t-10 tx-13">
        <li class="list-group-item pd-x-0 d-flex justify-content-between">
          <span class="tx-normal">B/L Document Number</span>
          <span class="tx-medium">{{ object.bill_of_loading }}</span>
        </li>
        <li class="list-group-item pd-x-0 d-flex justify-content-between">
          <span class="tx-normal">Vessel Name</span>
          <span class="tx-medium">{{ object.vessel }}</span>
        </li>
        <li class="list-group-item pd-x-0 d-flex justify-content-between">
          <span class="tx-normal">Port</span>
          <span class="tx-medium">{{ object.port }}</span>
        </li>
        <li class="list-group-item pd-x-0 d-flex justify-content-between">
          <span class="tx-normal">Vessel Arrival Date</span>
          <span class="tx-medium">{{ object.arrival_date|date:'d/m/Y' }}</span>
        </li>
      </ul>
    </div><!-- /.modal-body -->

    <div class="modal-footer pd-x-20 pd-y-15">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div><!-- modal-content -->
</div><!-- modal-dialog -->
