<div class="modal-dialog wd-sm-650" role="document">
  <div class="modal-content">
    <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
      <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <div class="media align-items-center">
        <div class="media-body">
          <h4 class="tx-18 tx-sm-20 mg-b-2">Download Letter</h4>
          <p class="tx-13 tx-color-03 mg-b-0">Generate MS-Word letter file.</p>
        </div>
      </div><!-- media -->
    </div><!-- modal-header -->

    <form id="letter-form" method="POST" action="{{ request.path }}">
      {% csrf_token %}
      <div class="modal-body pd-sm-t-30 pd-sm-b-60 pd-sm-x-30">
        <div class="row">
          <div class="col-sm-10">

            <!-- Delivery Order Allocation Letter -->
            {% if object.order_allocations.count > 0 %}
            <div class="custom-control custom-radio mb-3">
              <input type="radio" id="id_type_0" name="type" value="ALLOCATION" class="custom-control-input" required>
              <label class="custom-control-label tx-medium tx-15" for="id_type_0">
                Delivery Order Allocation Letter
              </label>
            </div>
            {% else %}
            <div class="custom-control custom-radio mb-3">
              <input type="radio" id="id_type_0" name="type" value="ALLOCATION" class="custom-control-input" disabled required>
              <label class="custom-control-label tx-medium tx-15 disabled" for="id_type_0">
                Delivery Order Allocation Letter
              </label><br>
              <small class="text-danger">
                <i class="fas fa-exclamation-triangle"></i> You must first create allocations.
              </small>
            </div>
            {% endif %}

            <!-- Retention (10%) Payment Release Letter -->
            <div class="custom-control custom-radio mb-3">
              <input type="radio" id="id_type_1" name="type" value="RETENTION" class="custom-control-input" disabled required>
              <label class="custom-control-label tx-medium tx-15 disabled" for="id_type_1">
                10% Payment Release Request Letter
              </label>
            </div>

          </div><!-- /.col-sm-10 -->
        </div><!-- /.row -->
      </div><!-- /.modal-body -->
      <div class="modal-footer pd-x-20 pd-y-15">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" disabled>Download</button>
      </div>
    </form>
  </div><!-- modal-content -->
</div><!-- modal-dialog -->

<script>
  $(function() {
    var $form = $('#letter-form');
    var $typeRadio = $form.find('input[name=type]');
    var $submitBtn = $form.find('button[type=submit]');

    $form.on('change', function() {
      isValid = $typeRadio.is(':checked');
      $submitBtn.prop('disabled', !isValid);
    });

    $form.on('submit', function(e) {
      $form.closest('.modal').modal('hide');
    });
  });
</script>
