.summary-list-group li:hover {
    cursor: pointer;
}

.distribution-quantity-col a.btn-modal {
    cursor: pointer;
    color: #0168fa;
}

.distribution-quantity-col a.btn-modal:hover {
    color: #0148ae;
}

.distribution-quantity-col a.btn-modal:hover span {
    text-decoration: underline;
}
