.summary-list-group li:hover {
    cursor: pointer;
}

a.popup-link.btn-modal {
    cursor: pointer;
    color: #0168fa;
}

a.popup-link.btn-modal:hover {
    color: #0148ae;
}

a.popup-link.btn-modal:hover span {
    text-decoration: underline;
}

.table-dashboard thead th:last-child,
.table-dashboard tbody td:last-child {
    padding-right: 8px !important;
    padding-left: 8px !important;
}
