<div class="modal-dialog wd-sm-650" role="document">
  <div class="modal-content">
    <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
      <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <div class="media align-items-center">
        <div class="media-body">
          <h4 class="tx-18 tx-sm-20 mg-b-2">Close Purchased Batch</h4>
          <p class="tx-13 tx-color-03 mg-b-0">Change the status of this purchased batch (LOT) to closed.</p>
        </div>
      </div><!-- media -->
    </div><!-- modal-header -->

    <!-- LC Form -->
    <form action="{% url 'orders:batch-close' object.pk %}" method="POST">
      {% csrf_token %}

      <!-- Hidden fields -->
      <input type="hidden" name="status" value="{{ object.CLOSED }}">

      <div class="modal-body pd-sm-t-50 pd-sm-b-80 pd-sm-x-30">
        <h5 class="tz-color-03 tx-normal">Are you sure you want to <span class="text-danger tx-medium">close</span> this batch?</h5>
      </div><!-- /.modal-body -->

      <div class="modal-footer pd-x-20 pd-y-15">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Yes, close</button>
      </div>
    </form>
  </div><!-- modal-content -->
</div><!-- modal-dialog -->
