{% extends 'orders/base.html' %}
{% load humanize %}
{% load shared_tags %}

{% block title %} {{ object.lc_number }} | Payment Tracker{% endblock %}

{% block content %}
<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0 batch-detail-container">

    <!-- BREADCRUMB -->
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Dashbooard</a></li>
            {% if object.status == object.CLOSED %}
            <li class="breadcrumb-item"><a href="#">Closed Purchased Batch</a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="#">Open Purchased Batch</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ object.lc_number }} </li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Purchased LOT for {{ object.lc_number }}</h4>
      </div>

      {% if object.status == object.OPEN %}
      <div class="d-none d-md-block">
        {% if perms.purchases.close_batch %}
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase btn-modal"
          data-url="">
          <i data-feather="flag" class="wd-10 mg-r-5"></i> Close
        </button>
        {% endif %}

        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5 btn-modal"
          data-url="">
          <i data-feather="file-text" class="wd-10 mg-r-5"></i> Letter
        </button>

        {% if perms.purchases.change_batch %}
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5 btn-modal"
          data-url="">
          <i data-feather="edit" class="wd-10 mg-r-5"></i> Edit
        </button>
        {% endif %}
      </div>
      {% else %}
      <div class="d-none d-md-block">
        {% if perms.purchases.reopen_batch %}
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5 btn-modal"
          data-url="">
          <i data-feather="share" class="wd-10 mg-r-5"></i> Re-Open
        </button>
        {% endif %}

        {% if perms.purchases.delete_batch %}
        <button class="btn btn-sm pd-x-15 btn-danger btn-uppercase mg-l-5 btn-modal"
          data-url="">
          <i data-feather="trash" class="wd-10 mg-r-5"></i> Delete
        </button>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <!-- END BREADCRUMB -->

    <!-- WARNING MESSAGES -->
    {% if object.status == object.CLOSED %}
    <!-- Delivery Order Closed Alert -->
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i data-feather="info" class="mg-r-10"></i> This purchased batch was closed on {{ object.updated_at|date:'d/m/Y'}}.
    </div>
    {% endif %}

    <!-- BATCH SUMMARY AND GRAPH -->
    {% include 'orders/partials/batch_summary.html' with object=object %}

    <!-- DELIVERY ORDER TABS  -->
    {% include 'orders/partials/delivery_order_tabs.html' with object=object %}

  </div><!-- container -->
</div><!-- content -->

<script>
  $(function () {
    // Dynamically highlight columns
    $('.list-group-item[data-target]').hover(
      function () { $('.' + $(this).data('target')).addClass('bg-highlight'); },
      function () { $('.' + $(this).data('target')).removeClass('bg-highlight'); }
    );
  });
</script>
{% endblock %}
