{% extends 'orders/base.html' %}
{% load humanize %}

{% block title %}Open Purchased Batches | Payment Tracker{% endblock %}

{% block content %}
<div class="content content-fixed bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Purchased Batches</li>
          </ol>
        </nav>
        <h4 class="mg-b-0">All Open Purchased Batches</h4>
      </div>
      <div class="d-none d-md-block mg-t-20 mg-sm-t-0">
        {% if perms.orders.add_batch %}
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5 btn-modal"
          data-url="{% url 'orders:batch-create' %}">
          <i data-feather="plus" class="wd-10 mg-r-5"></i>Add Purchased Batch
        </button>
        {% endif %}
      </div>
    </div>
  </div><!-- container -->
</div><!-- content -->

<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0 summary-table-container" id="batch-list-container">
    <div class="row">
      <div class="col-md-9 col-sm-12">

        {% for message in messages %}
        <div class="alert alert-outline alert-success d-flex align-items-center mg-b-20" role="alert">
          <i data-feather="check-circle" class="mg-r-10"></i> {{ message }}
        </div>
        {% endfor %}

        <div class="card mg-b-20 mg-t-10" id="lots-table-card">
          <div class="card-header pd-t-16 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
            <div>
              <h6 class="mg-b-3 pb-0">Open Purchased Batches</h6>
              <p class="tx-13 tx-color-03 mg-b-20">Currently open or unsettled purchased lots.</p>
            </div>
            <div class="d-flex mg-t-20 mg-sm-t-0">
              <form>
                <div class="search-form mg-l-15 d-none d-sm-flex justify-content-end">
                  <input type="search" name="search" class="form-control" placeholder="Search" value="{{ search_query }}">
                  <button class="btn" type="submit"><i data-feather="search"></i></button>
                </div>
              </form>
            </div>
          </div><!-- card-header -->
          <div class="table-responsive">
            <table class="table table-dashboard mg-b-0" id="batch-table">
              <thead>
                <tr>
                  <th>Period (E.C.)</th>
                  <th>Batch Name</th>
                  <th>L/C Number</th>
                  <th>Product</th>
                  <th>Supplier</th>
                  <th class="text-right">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for batch in object_list %}
                <tr>
                  <td class="tx-color-03 tx-normal">{{ batch.get_year_display }}</td>
                  <td class="tz-color-03 tx-normal">
                    <a href="{% url 'orders:batch-detail' batch.pk %}">
                      <span class="tx-medium">{{ batch.name }}</span>
                    </a>
                  </td>
                  <td class="tz-color-03 tx-normal">{{ batch.lc_number }}</td>
                  <td class="tz-color-03 tx-normal">{{ batch.product.name }}</td>
                  <td class="tz-color-03 tx-normal">{{ batch.supplier.name }}</td>
                  <td class="text-right"><span class="badge badge-success">open</span></td>
                </tr>
                {% empty %}
                <tr class="empty-row">
                  {% if search_query %}
                  <td colspan="{% if perms.orders.change_batch %}8{% else %}7{% endif %}"
                    class="tx-medium tx-color-03 text-center pt-5 pb-5 tx-24">NO RESULT FOUND</td>
                  {% else %}
                  <td colspan="{% if perms.orders.change_batch %}8{% else %}7{% endif %}"
                    class="tx-medium tx-color-03 text-center pt-5 pb-5 tx-24">NO PURCHASED LOTS FOUND</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div><!-- card -->

        <!-- Pagination -->
        <nav aria-label="Page navigation example" id="pagination-nav">
          {% if is_paginated %}
          <ul class="pagination pagination-circle justify-content-end mg-b-20">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link page-link-icon" href="?page={{ page_obj.previous_page_number }}">
                <i class="fas fa-chevron-left"></i>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link page-link-icon" href="#">
                <i class="fas fa-chevron-left"></i>
              </a>
            </li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link page-link-icon" href="?page={{ page_obj.next_page_number }}"><i
                  class="fas fa-chevron-right"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link page-link-icon" href="#">
                <i class="fas fa-chevron-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div><!-- col -->

      <!-- Aside filter links -->
      <aside class="col-md-3 col-sm-12 mg-lg-t-15 pd-sm-l-40">
        {% if product_list.count > 0 %}
        <h6 class="tx-uppercase tx-semibold mg-t-0 mg-b-15">Purchased Products</h6>
        <nav class="nav nav-classic tx-13 mg-lg-b-20">
          <a href="{% url 'orders:open-batch-list' %}" class="nav-link {% if selected_product is None %}active{% endif %}">
            <span>All</span> <span class="badge">{{ batch_count }}</span>
          </a>
          {% for product in product_list %}
            {% if selected_product %}
            <a href="?product={{ product.pk }}"
              class="nav-link {% if product.pk|safe == selected_product|safe %}active{% endif %}">
              <span>{{ product.name }}</span> <span class="badge">{{ product.get_open_batches.count }}</span>
            </a>
            {% else %}
              {% if forloop.counter <= 5 %}
              <a href="?product={{ product.pk }}"
                class="nav-link {% if product.pk|safe == selected_product|safe %}active{% endif %}">
                <span>{{ product.name }}</span> <span class="badge">{{ product.get_open_batches.count }}</span>
              </a>
              {% else %}
              <a href="?product={{ product.pk }}" class="nav-link nav-link-extra d-none">
                <span>{{ product.name }}</span> <span class="badge">{{ product.get_open_batches.count }}</span>
              </a>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if product_list.count > 5 and not selected_product %}
          <a href class="link-03 mg-t-10 show-toggle">Show All</a>
          {% endif %}
        </nav>
        {% endif %}

        <!-- Supplier Menu -->
        {% if supplier_list.count > 0 %}
        <h6 class="tx-uppercase tx-semibold mg-t-30 mg-b-15">Suppliers</h6>
        <nav class="nav nav-classic tx-13 mg-lg-b-20">
          {% for supplier in supplier_list %}
            {% if selected_supplier %}
            <a href="?supplier={{ supplier.pk }}"
              class="nav-link {% if supplier.pk|safe == selected_supplier|safe %}active{% endif %}">
              <span>{{ supplier.name }}</span> <span class="badge">{{ supplier.get_open_batches.count }}</span>
            </a>
            {% else %}
              {% if forloop.counter <= 5 %}
              <a href="?supplier={{ supplier.pk }}"
                class="nav-link {% if supplier.pk|safe == selected_supplier|safe %}active{% endif %}">
                <span>{{ supplier.name }}</span> <span class="badge">{{ supplier.get_open_batches.count }}</span>
              </a>
              {% else %}
              <a href="?supplier={{ supplier.pk }}" class="nav-link nav-link-extra d-none">
                <span>{{ supplier.name }}</span> <span class="badge">{{ supplier.get_open_batches.count }}</span>
              </a>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if supplier_list.count > 5 and not selected_supplier %}
          <a href class="link-03 mg-t-10 show-toggle">Show All</a>
          {% endif %}
        </nav>
        {% endif %}
      </aside>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- content -->

<script>
  $(function () {
    $('input[name=search]').on('keyup change', function () {
      var query = $(this).val();
      var url = '{{ request.path }}?search=' + query;

      $.get(url, function (data) {
        var $table = $('#batch-table');
        var $pagination = $('#pagination-nav');

        $table.replaceWith($(data).find('#batch-table'));
        $pagination.replaceWith($(data).find('#pagination-nav'));
        feather.replace();
      });
    });

    $('.show-toggle').click(function (e) {
      e.preventDefault();
      $(this).siblings('.nav-link-extra').toggleClass('d-none');

      if ($(this).siblings('.nav-link-extra').hasClass('d-none'))
        $(this).text('Show All');
      else
        $(this).text('Show Less');
    });
  });
</script>
{% endblock %}
