{% extends 'orders/base.html' %}

{% block title %}Delivery Orders | Payment Tracker{% endblock %}

{% block content %}
  <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Delivery Orders</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1">All Open Delivery Orders</h4>
    </div>
    <div class="d-none d-md-block">
      <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5 btn-modal"
        data-url="{% url 'orders:delivery-order-create' %}">
        <i data-feather="plus" class="wd-10 mg-r-5"></i>Add Delivery Order
      </button>
    </div>
  </div>
{% endblock %}
