<aside class="col-md-3 col-sm-12 mg-t-10 mg-lg-t-0 pd-sm-l-40">
  <h6 class="tx-uppercase tx-semibold mg-t-30 mg-b-15">Category</h6>
  <nav class="nav nav-classic tx-13 mg-lg-b-20">
    <a href="{% url 'purchases:product-list' %}" class="nav-link {% if selected_category is None %}active{% endif %}">
      <span>All</span> <span class="badge">{{ product_count }}</span>
    </a>
    {% for category in category_list %}
    <a href="{{ request.path }}?category={{ category.pk }}" class="nav-link {% if selected_category|safe == category.pk|safe %}active{% endif %}">
      <span>{{ category.name }}</span> <span class="badge">{{ category.products.count }}</span>
    </a>
    {% endfor %}
  </nav>
</aside>
