{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Register | Payment Tracker {% endblock %}

{% block navbar-right %}
  <a href="{% url 'accounts:login' %}" class="btn btn-buy"><i data-feather="log-in"></i> <span>Sign In</span></a>
{% endblock %}

{% block content %}
  <div class="media justify-content-center ht-100p pos-relative">
    <div class="media-body align-items-center d-none d-lg-flex">
      <div class="mx-wd-600 mg-t-20">
        <img src="{% static 'shared/img/img15.png' %}" class="img-fluid" alt="">
      </div>
    </div><!-- media-body -->
    <div class="sign-wrapper mg-lg-l-0 mg-xl-l-0">
      <div class="wd-400p">
        <h3 class="tx-color-01 mg-b-5 mt-4">Create New Account</h3>
        <p class="tx-color-03 tx-16 mg-b-30">Register to start tracking ongoing payments.</p>

        <form method="POST">
          {% csrf_token %}
          <!-- Name -->
          <div class="form-row">
            <!-- First Name -->
            <div class="form-group col-md-6">
              <label for="first-name">First Name <span class="tx-danger">*</span></label>
              <input
                type="text" name="first_name"
                class="form-control {% if form.first_name.errors %}parsley-error{% endif %}"
                id="first-name" placeholder="Your first name"
                value="{{ form.first_name.value|default_if_none:'' }}" required
              />
              {% if form.first_name.errors %}
              <ul class="parsley-errors-list filled">
                {% for error in form.first_name.errors %}
                <li class="parsley-required">{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

            <!-- Last Name -->
            <div class="form-group col-md-6">
              <label for="last-name">Last Name <span class="tx-danger">*</span></label>
              <input
                type="text" name="last_name"
                class="form-control {% if form.last_name.errors %}parsley-error{% endif %}"
                id="last-name" placeholder="Your last name"
                value="{{ form.last_name.value|default_if_none:'' }}" required
              />
              {% if form.last_name.errors %}
              <ul class="parsley-errors-list filled">
                {% for error in form.last_name.errors %}
                <li class="parsley-required">{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email address <span class="tx-danger">*</span></label>
            <input
              name="email" id="email" type="email"
              class="form-control {% if form.email.errors %}parsley-error{% endif %}"
              placeholder="Enter your email address"
              value="{{ form.email.value|default_if_none:'' }}" required
            />
            {% if form.email.errors %}
            <ul class="parsley-errors-list filled">
              {% for error in form.email.errors %}
              <li class="parsley-required">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <!-- Phone Number -->
          <div class="mg-b-20">
            <label for="phone-number">Phone number</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text tx-medium" id="basic-addon2">+251</span>
              </div>
              <input
                name="phone_number" id="phone-number"
                class="form-control {% if form.phone_number.errors %}parsley-error{% endif %}"
                placeholder="Enter you mobile number (Optional)"
                value="{{ form.phone_number.value|default_if_none:'' }}"
              />
            </div>
            {% if form.phone_number.errors %}
            <ul class="parsley-errors-list filled">
              {% for error in form.phone_number.errors %}
              <li class="parsley-required">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <!-- Password -->
          <div class="form-row mg-lg-b-20">
            <div class="form-group col-md-6 mg-lg-b-0">
              <label for="password-1">Password <span class="tx-danger">*</span></label>
              <input
                name="password1" id="password-1" type="password"
                class="form-control {% if form.password1.errors or form.password2.errors %}parsley-error{% endif %}"
                placeholder="Enter password" autocomplete="off" minlength="8" required
              />
            </div>

            <div class="form-group col-md-6 mg-lg-b-0">
              <label for="password-2">Confirm Password <span class="tx-danger">*</span></label>
              <input
                name="password2" id="password-2" type="password"
                class="form-control {% if form.password1.errors or form.password2.errors %}parsley-error{% endif %}"
                placeholder="Re-type password" autocomplete="off" required
              />
              {% if form.password2.errors %}
              <ul class="parsley-errors-list filled d-block d-sm-none">
                {% for error in form.password2.errors %}
                <li class="parsley-required">{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

            {% if form.password2.errors %}
            <div class="col-md-12 d-none d-sm-block">
              <ul class="parsley-errors-list filled">
                {% for error in form.password2.errors %}
                <li class="parsley-required">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>

          <button class="btn btn-brand-02 btn-block mg-t-30">Create Account</button>
          <div class="tx-13 mg-t-20 tx-center">Already have an account? <a href="{% url 'accounts:login' %}">Sign In</a></div>
        </form>
        </div>
      </div>
    </div><!-- sign-wrapper -->
  </div><!-- media -->
{% endblock %}


