{% load humanize %}

<div id="tab-container" class="mg-y-30">
  <!-- Tab Menus -->
  <ul class="nav nav-tabs" id="delivery-orders-tab" role="tablist">
    {% for delivery_order in object.delivery_orders.all %}
    <li class="nav-item">
      <a
        class="nav-link {% if active_pk|safe == delivery_order.pk|safe %}active{% endif %}"
        id="tab-{{ delivery_order.pk }}" data-toggle="tab" role="tab"
        href="#tab-pane-{{ delivery_order.pk }}">{{ delivery_order.vessel }}</a>
    </li>
    {% endfor %}

    {% if object.status == object.OPEN and perms.orders.add_deliveryorder %}
    <li class="nav-item">
      <a
        class="nav-link {% if not active_pk %}active{% endif %}"
        id="tab-new" data-toggle="tab" role="tab" href="#tab-pane-new"><i class="fas fa-plus tx-12"></i></a>
    </li>
    {% endif %}
  </ul><!-- ./ End Tab Menu -->

  <!-- Tab Content -->
  <div class="tab-content bd bd-gray-300 bd-t-0 pd-20" id="delivery-orders-tab-content">
    {% for delivery_order in object.delivery_orders.all %}
    <div class="tab-pane fade {% if active_pk|safe == delivery_order.pk|safe %}active show{% endif %}" role="tabpanel" id="tab-pane-{{ delivery_order.pk }}">
      <div class="d-flex justify-content-between">
        <div>
          {% if object.status == object.OPEN and perms.orders.change_deliveryorder %}
          <button data-url="{% url 'orders:order-update' delivery_order.pk %}" class="btn btn-sm pd-x-20 btn-primary btn-uppercase mg-l-5 btn-modal">
            <i data-feather="edit" class="wd-10 mg-r-5"></i> Edit
          </button>
          {% endif %}
        </div>

        <div>
          <a href="{% url 'orders:order-allocation-letter' delivery_order.pk %}" class="btn btn-sm pd-x-20 btn-white btn-uppercase mg-l-5">
            <i data-feather="file-text" class="wd-10 mg-r-5"></i> Letter
          </a>
          {% if object.status == object.OPEN and perms.orders.delete_deliveryorder %}
          <button data-url="{% url 'orders:order-delete' delivery_order.pk %}" class="btn btn-sm pd-x-20 btn-danger btn-uppercase mg-l-5 btn-modal">
            <i data-feather="trash" class="wd-10 mg-r-5"></i> Delete
          </button>
          {% endif %}
        </div>
      </div>
      <div class="card mg-t-20 mg-b-30">
        <div class="card-header">
          <h5 class="mg-b-0">{{ delivery_order.vessel }} Vessel Summary</h5>
        </div>
        <div class="card-body pd-0">
          <div class="row no-gutters">
            <div class="col col-sm-6 col-lg">
              <div class="crypto">
                <div class="media mg-b-10 pd-y-25">
                  <div class="crypto-icon bg-secondary">
                    <i class="fas fa-truck-loading"></i>
                  </div><!-- crypto-icon -->
                  <div class="media-body pd-l-8">
                    <h6 class="tx-11 tx-spacing-1 tx-uppercase tx-color-03 mg-b-5">Bill of Loading</h6>
                    <div class="d-flex align-items-baseline tx-rubik">
                      <h5 class="tx-18 mg-b-0">{{ delivery_order.bill_of_loading }}</h5>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- crypto -->
            </div>

            <div class="col col-sm-6 col-lg bd-t bd-sm-t-0 bd-sm-l">
              <div class="crypto">
                <div class="media mg-b-10 pd-y-25">
                  <div class="crypto-icon bg-success">
                    <i class="fas fa-anchor"></i>
                  </div>
                  <div class="media-body pd-l-8">
                    <h6 class="tx-11 tx-spacing-1 tx-uppercase tx-color-03 mg-b-5">Port</h6>
                    <div class="d-flex align-items-baseline tx-rubik">
                      <h5 class="tx-18 mg-b-0">{{ delivery_order.port }}</h5>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- crypto -->
            </div>
            <div class="col col-sm-6 col-lg bd-t bd-lg-t-0 bd-lg-l">
              <div class="crypto">
                <div class="media mg-b-10 pd-y-25">
                  <div class="crypto-icon bg-litecoin">
                    <i class="far fa-calendar"></i>
                  </div><!-- crypto-icon -->
                  <div class="media-body pd-l-8">
                    <h6 class="tx-11 tx-spacing-1 tx-uppercase tx-color-03 mg-b-5">Arrival Date</h6>
                    <div class="d-flex align-items-baseline tx-rubik">
                      <h5 class="tx-18 mg-b-0">{{ delivery_order.arrival_date|date:'M d, Y' }}</h5>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- crypto -->
            </div>
            <div class="col col-sm-6 col-lg bd-t bd-lg-t-0 bd-sm-l">
              <div class="crypto">
                <div class="media mg-b-10 pd-y-25">
                  <div class="crypto-icon bg-primary">
                    <i class="fas fa-balance-scale"></i>
                  </div><!-- crypto-icon -->
                  <div class="media-body pd-l-8">
                    <h6 class="tx-11 tx-spacing-1 tx-uppercase tx-color-03 mg-b-5">Quantity ({{ delivery_order.unit.code }})</h6>
                    <div class="d-flex align-items-baseline tx-rubik">
                      <h5 class="tx-18 mg-b-0">{{ delivery_order.get_allocated_quantity|floatformat:2|intcomma }}</h5>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- crypto -->
            </div>
          </div>
        </div>
      </div>

      <!-- Allocation Summary -->
      {% include 'orders/partials/allocation_summary.html' with object=delivery_order %}

      <!-- Distribution Summary -->
      {% include 'orders/partials/distribution_summary.html' with object=delivery_order %}
    </div>
    {% endfor %}

    {% if object.status == object.OPEN and perms.orders.add_deliveryorder %}
    <div class="tab-pane fade {% if not active_pk %}active show{% endif %}" id="tab-pane-new">
      {% include 'orders/order_create_form.html' %}
    </div>
    {% endif %}
  </div><!-- ./ Tab Content -->
</div>
