{% load humanize %}

<div class="row row-xs row-flex mg-b-30">
  <div class="col-sm-3 col-lg-3">
    <div class="card ht-100p">
      <div class="card-header d-flex justify-content-between">
        <h6 class="lh-5 mg-b-0">Distribution Summary</h6>
      </div><!-- card-header -->
      <div class="card-body pd-x-20">
        <ul class="list-group list-group-flush mg-b-0 tx-13 summary-list-group">
          <li class="list-group-item pd-x-0 d-flex justify-content-between">
            <span class="tx-normal">Rate</span>
            <span class="tx-medium">${{ object.batch.rate|intcomma }}</span>
          </li>
          <li class="list-group-item pd-x-0 d-flex justify-content-between" title="Total delivered quantity" data-target="distribution-quantity-col">
            <span class="tx-normal">Quantity</span>
            {% if object.get_delivered_quantity %}
            <span class="tx-medium">{{ object.get_delivered_quantity|intcomma }} {{ object.unit.code|upper }}</span>
            {% else %}
            <span class="tx-medium">-</span>
            {% endif %}
          </li>
          <li class="list-group-item pd-x-0 d-flex justify-content-between" title="Delivered shortage">
            <span class="tx-normal">Shortage</span>
            {% if object.get_total_shortage %}
            <span class="tx-medium">{{ object.get_total_shortage|intcomma }} {{ object.unit.code|upper }}</span>
            {% else %}
            <span class="tx-medium">-</span>
            {% endif %}
          </li>
          <li class="list-group-item pd-x-0 d-flex justify-content-between" title="Total delivered amount" data-target="distribution-amount-col">
            <span class="tx-normal">Amount</span>
            {% if object.get_delivered_amount %}
            <span class="tx-medium">${{ object.get_delivered_amount|intcomma }}</span>
            {% else %}
            <span class="tx-medium">-</span>
            {% endif %}
          </li>
          <li class="list-group-item pd-x-0 d-flex justify-content-between" title="10% amount for delivered amount" data-target="distribution-retention-col">
            <span class="tx-normal">10% Amount</span>
            {% if object.get_delivered_retention %}
            <span class="tx-medium">${{ object.get_delivered_retention|intcomma }}</span>
            {% else %}
            <span class="tx-medium ">-</span>
            {% endif %}
          </li>
          <li class="list-group-item pd-x-0 d-flex justify-content-between" data-target="distribution-distributed-col">
            <span class="tx-normal">Distributed Amt.</span>
            {% if object.get_final_settlement %}
            <span class="tx-medium">${{ object.get_final_settlement|intcomma }}</span>
            {% else %}
            <span class="tx-medium">-</span>
            {% endif %}
          </li>
        </ul>
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- col -->

  <div class="col-sm-9">
    <div class="card mg-b-10 ht-100p">
      <div class="card-header pd-t-16 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-10">
        <div>
          <h6 class="mg-b-3">Region Distributions</h6>
          <p class="tx-13 tx-color-03 mg-b-0">Actual distribution data to regions.</p>
        </div>
        <div class="d-flex mg-t-20 mg-sm-t-0">
          <div class="btn-group flex-fill">
            {% if not object.is_fully_distributed and object.status == object.OPEN and perms.orders.delete_distribution %}
            <a class="tx-12 link-03 btn-modal" data-url="{% url 'orders:order-distribution-create' object.pk %}"><i
                data-feather="plus" class="wd-15 ht-15"></i> Add Distribution</a>
            {% endif %}
          </div>
        </div>
      </div><!-- card-header -->

      <div class="card-body pd-x-0 pd-t-0">
        <div class="table-responsive">
          <table class="table table-dashboard table-striped table-card table-detail mg-b-0" id="distribution-table">
            <thead>
              <tr>
                <th>Region</th>
                <th class="text-right">Quantity ({{ object.unit.code }})</th>
                <th class="text-right">Rate (USD)</th>
                <th class="text-right distribution-amount-col">Amount (USD)</th>
                <th class="text-right distribution-retention-col">10% Amount (USD)</th>
                <th class="text-right distribution-distributed-col">Distributed Amount</th>
                {% if object.status == object.OPEN %}<th class="action"></th>{% endif %}
              </tr>
            </thead>
            <tbody>
              {% for distribution in object.distributions.all %}
              <tr>
                <td class="tz-color-03 tx-normal">{{ distribution.buyer.region }}</td>
                <td class="tz-color-03 tx-normal text-right distribution-quantity-col">
                  <a data-url="{% url 'orders:order-distribution-detail' distribution.pk %}" class="popup-link btn-modal">
                    <span class="tx-medium">{{ distribution.get_total_quantity|intcomma }}</span>
                    &nbsp; <i data-feather="external-link" class="wd-12 ht-12 stroke-wd-3"></i>
                  </a>
                </td>
                <td class="tz-color-03 tx-normal text-right">{{ object.batch.rate|intcomma }}</td>
                <td class="text-right tx-normal distribution-amount-col">{{ distribution.get_amount|intcomma }}</td>
                <td class="text-right tx-normal distribution-retention-col">{{ distribution.get_retention|intcomma }}</td>
                <td class="tx-medium tx-medium text-right distribution-distributed-col">
                  {{ distribution.get_distributed_settlement|intcomma }}
                  <span class="mg-l-5 tx-11 tx-normal tx-success" title="Payment distribution percentage.">{{ distribution.get_distribution_percentage }}%</span>
                </td>
                {% if object.status == object.OPEN %}
                <td class="text-right action">
                  <div class="mg-l-auto d-flex justify-content-end">
                    <nav class="nav nav-icon-only">
                      {% if perms.orders.delete_distribution %}
                      <a data-url="{% url 'orders:order-distribution-update' distribution.pk %}"
                        class="nav-link d-none d-sm-block btn-modal" title="Edit">
                        <i data-feather="edit-3" class="wd-10"></i>
                      </a>
                      {% endif %}

                      {% if perms.orders.delete_distribution %}
                      <a data-url="{% url 'orders:distribution-delete' distribution.pk %}" class="nav-link d-none d-sm-block btn-modal"
                        title="Delete">
                        <i data-feather="trash" class="wd-10"></i>
                      </a>
                      {% endif %}
                    </nav>
                  </div>
                </td>
                {% endif %}
              </tr>
              {% empty %}
              <tr class="empty-row">
                {% if object.status == object.OPEN %}
                <td colspan="7" class="tx-medium tx-color-03 text-center pt-5 pb-5 h5">No Distribution Data</td>
                {% else %}
                <td colspan="6" class="tx-medium tx-color-03 text-center pt-5 pb-5 h5">No Distribution Data</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div>
    </div><!-- card -->
  </div><!-- col -->
</div><!-- row -->
