<aside class="col-md-3 col-sm-12 mg-t-10 mg-lg-t-0 pd-sm-l-40">
  <!-- Product Menu -->
  {% if product_menu %}
  <h6 class="tx-uppercase tx-semibold mg-t-10 mg-b-15">Products</h6>
  <nav class="nav nav-classic tx-13">
    <a href="{{ request.path }}"
      class="nav-link {% if not selected_product and not selected_batch and not selected_lc %}active{% endif %}">
      <span>All</span> <span class="badge">{{ order_count }}</span>
    </a>
    {% for item in product_menu %}
    {% if selected_product %}
    <a href="{{ request.path }}?product={{ item.product.id }}"
      class="nav-link {% if item.product.id == selected_product.pk %}active{% endif %}">
      <span>{{ item.product.name }}</span> <span class="badge">{{ item.count }}</span>
    </a>
    {% else %}
    {% if forloop.counter <= 5 %}
    <a href="{{ request.path }}?product={{ item.product.id }}"
      class="nav-link {% if item.product.id == selected_product.pk %}active{% endif %}">
      <span>{{ item.product.name }}</span> <span class="badge">{{ item.count }}</span>
    </a>
    {% else %}
    <a href="{{ request.path }}?product={{ item.product.id }}" class="nav-link nav-link-extra d-none">
      <span>{{ item.product.name }}</span> <span class="badge">{{ item.count }}</span>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if product_menu|length > 5 and not selected_product %}
    <a href class="link-03 mg-t-10 show-toggle">Show All</a>
    {% endif %}
  </nav>
  {% endif %}


  {% if batch_menu %}
  <h6 class="tx-uppercase tx-semibold mg-t-30 mg-b-15">Purchased Batches</h6>
  <nav class="nav nav-classic tx-13 mg-lg-b-20">
    {% for item in batch_menu %}
      {% if selected_batch %}
      <a href="{{ request.path }}?batch={{ item.batch.pk }}"
        class="nav-link {% if item.batch.id == selected_batch.id %}active{% endif %}">
        <span>{{ item.batch.name }} - {{ item.batch.lc_number }}</span> <span class="badge">{{ item.count }}</span>
      </a>
      {% else %}
        {% if forloop.counter <= 5 %}
        <a href="{{ request.path }}?batch={{ item.batch.pk }}"
          class="nav-link {% if item.batch.id == selected_batch.id %}active{% endif %}">
          <span>{{ item.batch.name }} - {{ item.batch.lc_number }}</span> <span class="badge">{{ item.count }}</span>
        </a>
        {% else %}
        <a href="{{ request.path }}?batch={{ item.batch.pk }}" class="nav-link nav-link-extra d-none">
          <span>{{ item.batch.name }} - {{ item.batch.lc_number }}</span> <span class="badge">{{ item.count }}</span>
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if batch_menu|length > 5 and not selected_batch %}
    <a href class="link-03 mg-t-10 show-toggle">Show All</a>
    {% endif %}
  </nav>
  {% endif %}
</aside>

<script>
  $(function() {
    $('.show-toggle').click(function (e) {
      e.preventDefault();
      $(this).siblings('.nav-link-extra').toggleClass('d-none');

      if ($(this).siblings('.nav-link-extra').hasClass('d-none'))
        $(this).text('Show All');
      else
        $(this).text('Show Less');
    });
  });
</script>
